.Chat
  .RightHeader
    .RightHeader__group
      .RightHeader__groupName
      .RightHeader__memberList
        .RightHeader__memberName
    .RightHeader__editBtn
  .MessageField
    .MessageBox
      .MessageInfo
        .Message__userName
        .Message__date
      .Message
        .Message__content
  .Footer
    .Form__contents
      .Form__inputMessage
      .Form__inputImage
      .From__submit