.SideBar
  .LeftHeader
    .LeftHeader__list
      %h3.LeftHeader__userName 
      %ul.LeftHeader__iconList
        %li.LeftHeader__iconEdit 
        %li.LeftHeader__iconNew  
  .GroupList
    .Group
      .Group__name
      .Group__notification