.SideBar
  .LeftHeader
    .LeftHeader__list
      %h3.LeftHeader__userName hogehoge
      %ul.LeftHeader__iconList
        %li.LeftHeader__iconEdit
          %a.sa 
            = icon('fas', 'edit')
        %li.LeftHeader__iconNew
          %a.sa
            = icon('fas', 'cog')
  .GroupList
    .Group
      %a
        .Group__name hogehoge
        .Group__notification no message